.header {
  font-size: 5vw;
  text-transform: uppercase;
  text-align: center;
}

.inputsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  > * {
    flex: 1;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
